<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>
    <%= title %>
  </title>
<%- include('partials/Head')%>

</head>

<body>
  <%- include('partials/navigation')%>
<main class="vh-100 container pt-2 text-center d-flex justify-content-center align-items-center">
  <section>
    <h1 class="display-1">About</h1>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt sequi voluptatem similique magni commodi ratione qui minima possimus laborum unde optio repudiandae placeat, saepe, reprehenderit nobis ducimus animi amet voluptates quo porro quia vel perferendis. Alias dolorem facere totam adipisci, consequatur pariatur odit fuga esse eligendi quaerat inventore sapiente voluptas perferendis corrupti sunt ipsa nemo eos magni sed et ut, doloribus laborum labore ratione? Rem est deleniti dolorum molestias qui cupiditate beatae accusantium a, veritatis nisi incidunt enim porro accusamus officiis nam aliquam ipsum illum nemo! Necessitatibus rem expedita accusamus autem maxime cum laudantium impedit eveniet, molestias reprehenderit exercitationem voluptatem est ipsum quam in, eaque unde, quod repellendus assumenda dignissimos atque. Illum a ex molestiae obcaecati, architecto rem assumenda, molestias unde explicabo, saepe animi dolores repellendus vel iste corporis perferendis maxime porro ullam cum eaque. Nostrum natus repellendus fugit soluta ipsam vel sit obcaecati nam iure labore laborum aliquid accusantium totam illum pariatur, officia aut illo. Esse laborum eaque delectus amet hic, atque nihil eum quod nemo autem animi totam neque vitae placeat. Quam exercitationem id pariatur sint assumenda cum dicta, nemo ipsum, et perspiciatis dolores dignissimos laboriosam dolore tenetur! Recusandae commodi provident facilis obcaecati quam veritatis dolores iusto eveniet similique magnam accusamus beatae error ad mollitia, numquam quo tempore aspernatur reiciendis facere inventore amet velit ratione. Vitae quidem, praesentium dicta voluptatem saepe delectus ea mollitia alias impedit rerum vero distinctio dignissimos. Tempore, repudiandae. Reiciendis explicabo eveniet eligendi omnis est aliquam molestiae nulla voluptatem deserunt eum incidunt illo, aut tempore quaerat expedita dolores! Debitis, quasi excepturi. Quas numquam voluptatibus at dignissimos repellat quibusdam, excepturi aliquam perspiciatis sit eveniet quidem, quis distinctio harum consectetur iste? Quos quibusdam maiores unde harum, consequatur aliquam excepturi libero esse praesentium ipsa explicabo veritatis repellendus nisi dolores asperiores maxime perspiciatis. Reprehenderit repudiandae sit beatae quae repellat?</p>
  </section>
</main>

<%- include('partials/footer')%>
</body>
</html>