<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
    <%- include('partials/Head')%>
  </head>

  <body>
    <%- include('partials/navigation')%>

    <header class="container vh-100 d-flex justify-content-center align-items-center">

      <div class="d-flex flex-column justify-content-center align-items-center">
        <img src="/img/alex.png" alt="Fazt" class="w-25 bg-dark" />
        <h1 class="dispay-1 my-5 text-uppercase fw-bold">Drito Web</h1>
        <a href="/about" class="btn btn-primary w-25">About</a>
      </div>

    </header>

    <%- include('partials/footer.ejs')%>
  </body>
</html>
